[user]
    name = Matteo De Wint
    email = matteo@mailfence.com

[core]
    editor = nvim
    ignorecase = false

[diff]
    algorithm = histogram
    colorMoved = true
    mnemonicPrefix = true
    renames = true

[pull]
    ff = only

[merge]
    conflictstyle = zdiff3

[rebase]
    autosquash = true

[rerere]
    enabled = true

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[includeIf "gitdir:~/gorilla/"]
    path = ~/.gitconfig.gorilla
