[user]
    name = Matteo De Wint
    email = matteo@gorilla.co

[core]
    editor = nvim
    ignorecase = false

[diff]
    colorMoved = true

[pull]
    rebase = true

[merge]
    conflictstyle = diff3

[rerere]
    enabled = true

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
