[user]
    name = Matteo De Wint
    email = matteo@novemberfive.co

[core]
    editor = nvim
    ignorecase = false

[pull]
    rebase = false

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
