#browser { -moz-box-ordinal-group: 0 !important; }
#urlbar-container .urlbarView { top: unset !important; bottom: 32px; }

#sidebar-header,
#urlbar .search-one-offs,
#back-button, #forward-button,
#navigator-toolbox:not(:hover) #TabsToolbar,
.tabbrowser-tab[selected] .tab-line,
.tabbrowser-tab[usercontextid] .tab-bottom-line
{ display: none !important; }

.tabbrowser-tab .tab-icon-image { filter: grayscale(100%) !important; }

#statuspanel-label {
    background: #000 !important;
    border-color: #222 !important;
    color: #fff !important;
}
