/* Bars on bottom */
#browser { -moz-box-ordinal-group: 0 !important; }
#urlbar-container .urlbarView { top: unset !important; bottom: 31px; }

/* Compact URL bar */
:root[uidensity=compact] #urlbar,
:root[uidensity=compact] .searchbar-textbox {
    font-size: 12px !important;
    min-height: 24px !important;
}
:root[uidensity=compact] #identity-box { max-height: 22px; }
:root[uidensity=compact] #nav-bar .toolbarbutton-1 { padding: 0px !important; }

/* Hide URL bar border */
#urlbar, #urlbar-background { border: 0 !important; }
#urlbar[focused] {
    -moz-appearance: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Show tab bar on hover over URL bar */
#navigator-toolbox:not(:hover) #titlebar { z-index: -1 !important; }
#titlebar {
    position: fixed;
    margin-bottom: -30px;
    margin-right: 200px;
    background: #000;
    z-index: 2;
}

/* Move status panel over URL bar */
#statuspanel {
    margin-top: -9.5px !important;
    margin-left: 2px !important;
    transition: none !important;
    z-index: 1;
}
#statuspanel-label {
    color: #fff !important;
    background: #000 !important;
    border-color: #000 !important;
    border-radius: 0 !important;
    padding-right: 16px !important;
}

/* Monospace font */
#urlbar, #statuspanel-label
{ font-family: Menlo; font-size: 12px !important; }
#urlbar .urlbarView-title,
#urlbar .urlbarView-title-separator,
#urlbar .urlbarView-tags,
#urlbar .urlbarView-action,
#urlbar .urlbarView-url
{ font-size: 12px !important; }

/* URL bar dropdown */
#urlbar[breakout][breakout-extend]{
  display: flex !important;
  flex-direction: column-reverse;
  bottom: -2px !important; /* Change to 3-5 px if using compact_urlbar_megabar.css depending on toolbar density */
  top: auto !important;
}
#urlbar[open] > .urlbarView{ margin-block: 0px calc(var(--urlbar-height) + 1px) !important; box-shadow: none !important; }
#urlbar .urlbarView-row { border-radius: 0 !important; }
#urlbar .urlbarView-row[selected] { background-color: #1a1a1a !important; }

/* Grayscale colors */
/*.tabbrowser-tab .tab-icon-image { filter: grayscale(100%) !important; }*/
#userContext-label { color: #7f7f7f !important; }
#tabbrowser-tabs .tabbrowser-tab[usercontextid] { --identity-tab-color: none !important; }

/* Hide unnecessary elements */
#urlbar .search-one-offs,
#urlbar .urlbar-history-dropmarker,
#back-button, #forward-button,
#tracking-protection-icon-container,
#identity-box:not([class]),
#identity-box.chromeUI,
#identity-box.mixedActiveBlocked,
#identity-box.unknownIdentity,
#identity-box.verifiedDomain,
#identity-box.verifiedIdentity,
#userContext-indicator,
#pageActionButton,
#pageActionSeparator,
#star-button,
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-line,
#tabbrowser-tabs .tabbrowser-tab[usercontextid] .tab-bottom-line
{ display: none !important; }
