#back-button,
#forward-button,
.searchmode-switcher,
#TabsToolbar {
  display: none !important;
}

* {
  border-radius: 0 !important;
}

:root {
  --arrowpanel-border-radius: 0px !important;
}

@media (-moz-platform: macos) {
  #navigator-toolbox {
    order: 1 !important;
  }

  #nav-bar {
    font-family: "PragmataPro Mono", monospace !important;
    font-size: 12px;
  }

  #urlbar[breakout][breakout-extend] {
    display: flex !important;
    flex-direction: column-reverse !important;
    bottom: 5px !important;
    top: auto !important;
  }

  .urlbarView-row-inner {
    padding-block: 2px !important;
  }
}
