#header {
  display: none !important;
}

#browser,
#browser + div,
#browser + div + div,
#browser button,
#browser input,
#browser select,
#browser textarea {
  font-family: "Menlo", monospace !important;
}

.mainbar,
.UrlBar,
.UrlBar .button-toolbar {
  background: var(--colorBg) !important;
  border-color: var(--colorBg) !important;
}

.UrlBar-AddressField:focus-within,
#browser.tabs-off .UrlBar-AddressField {
  border-color: var(--colorBg) !important;
  box-shadow: none !important;
  outline: none !important;
}
