#header {
    display: none !important;
}

#browser,
#browser + div,
#browser + div + div,
#browser button,
#browser input,
#browser select,
#browser textarea {
    font-family: 'Menlo', monospace !important;
}

.UrlBar-AddressField:focus-within,
#browser.tabs-off .UrlBar-AddressField {
    border-color: var(--colorBgIntenser) !important;
    box-shadow: none !important;
}
